<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analysis</title>
    </head>
    <body>
        <form method="POST">
            <textarea name="user_text" rows="5" cols="40" placeholder="Type something..."></textarea>
            <br>
            <input type="submit" value="Analyze Text">
        </form>
        {% if sentiment %}
            <p>Positive: {{ sentiment['pos'] * 100 }}%</p>
            <p>Negative: {{ sentiment['neg'] * 100 }}%</p>
            <p>Neutral: {{ sentiment['neu'] * 100 }}%</p>
            <p>Compound: {{ sentiment['compound'] }}</p>
            <hr>
            <p><strong>Custom Model Positive Score:</strong> {{ sentiment['custom model positive'] }}</p>
        {% endif %}
    </body>
</html>
